.DS_Store
/backend/node_modules
/backend/dist

# local env files
.env.local
.env.*.local

# Log files
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*